{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Signup Page</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="{% static 'css/signup_style.css' %}">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form action="" method="post">
        {% csrf_token %} 
        <h3>Signup Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username">
        {% if error %}
            <span style="color: red;">{{ error }}</span>
        {% endif %}

        <label for="email">Email</label>
        <input type="email" placeholder="Email or Phone" name="email" id="email">
        {% if email_error %}
        <span style="color: red;">{{ email_error }}</span>
        {% endif %}

        <label for="password1">Password</label>
        <input type="password" placeholder="Password" id="password1" name="password1">
        {% if pass1_error %}
            <span style="color: red;">{{ pass1_error }}</span>
        {% endif %}

        <label for="password2">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" id="password2" name="password2">
        {% if pass2_error %}
        <span style="color: red;">{{ pass2_error }}</span>
        {% endif %}

        <button type="submit">Signup</button>
        
        <a href="{% url 'login' %}" >Already have an Account?</a>
    </form>
</body>
</html>